.menu{
    width: 300px;
    height: 500px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.imgRedonda{
    width: 200px;
    height: 200px;
    border-radius: 150px;
}